*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  background-image: url(images/bg-pattern-top-mobile.svg),
    url(images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: left top, left bottom;
}

img {
  max-width: 100%;
}

.container {
  padding: 2em;
}

.top {
  text-align: center;
}

h1 {
  color: hsl(300, 43%, 22%);
  padding: 1.5em 1em 1em;
}

h2 {
  margin-top: 1em;
}

p {
  color: hsl(303, 10%, 53%);
  padding-bottom: 2em;
  font-weight: 500;
  font-size: 0.9em;
  line-height: 1.5em;
}

.rating {
  background-color: hsl(300, 24%, 96%);
  color: hsl(300, 43%, 22%);
  margin: 1em 0;
  padding: 1.5em;
  border-radius: 10px;
  font-size: 0.6em;
}

img + img {
  margin-left: 1em;
}

.review {
  background-color: hsl(300, 43%, 22%);
  color: hsl(0, 0%, 100%);
  margin: 1em 0;
  padding: 1em;
  border-radius: 10px;
}

.review-header {
  display: flex;
  font-size: 0.8em;
  align-items: center;
  margin-bottom: 1.5em;
}

.review img {
  border-radius: 100px;
  width: 15%;
}

.name {
  margin-left: 2em;
}

h3 {
  font-weight: 500;
}

h3 + h3 {
  color: hsl(333, 80%, 67%);
  font-weight: 400;
  margin-top: 0.5em;
  opacity: 0.8;
}

.review p {
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  opacity: 0.8;
}

@media (min-width: 1000px) {
  html {
    height: 100%;
  }

  body {
    height: 100%;
    background-image: url(images/bg-pattern-top-desktop.svg),
      url(images/bg-pattern-bottom-desktop.svg);
    background-position: left top, right bottom;
    padding: 3em;
  }

  .container {
    padding: 4.5em 5.5em;
  }

  .top,
  .buyer-reviews {
    display: flex;
  }

  .top {
    height: 40vh;
    text-align: left;
  }

  .intro {
    width: 40%;
    margin-right: 2em;
  }

  h1 {
    padding: 0 0 0.25em 0;
    font-size: 3em;
  }

  h2 {
    display: inline;
    margin-left: 2em;
  }
  .stars {
    display: inline;
  }
  .star-ratings {
    width: 35%;
    margin-left: 4em;
  }

  img + img {
    margin-left: 0.5em;
  }

  .rating {
    padding-left: 3em;
  }

  .second-rating {
    position: relative;
    left: 4em;
  }

  .third-rating {
    position: relative;
    left: 8em;
  }

  .review {
    padding: 2em;
    margin-top: 0;
  }

  .review ~ .review {
    margin-left: 2em;
  }

  .second {
    position: relative;
    top: 1em;
  }

  .third {
    position: relative;
    top: 2em;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
